<div class="style-examples-container">
    <div class="style-example base">base</div>
    <div class="style-example complement">complement</div>
    <div class="style-example content-primary">content-primary</div>
    <div class="style-example content-secondary">content-secondary</div>
    <div class="style-example content-tertiary">content-tertiary</div>
    <div class="style-example darken">darken</div>
    <div class="style-example desaturate">desaturate</div>
    <div class="style-example lighten">lighten</div>
    <div class="style-example lightness-desaturate">lightness-desaturate</div>
    <div class="style-example saturate">saturate</div>
    <div class="style-example mix-1">mix-1</div>
    <div class="style-example mix-2">mix-2</div>
    <div class="style-example mix-3">mix-3</div>
</div>